.questionItem {
  border-bottom: 1px solid #E8E8E8;
  padding: 15px 0;
  cursor: pointer;
}

.questionTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding-left: 30px
}

.answerOpen {
  max-height: 200px;
  padding-top: 10px;
}

.arrowIcon{
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}
