.browserTabs{
  display: flex;
  padding: 30px;
  width: 550px;
  justify-content: space-around;
}

.browser{
  display: flex;
  flex-direction: row;
}

.cardContainer{
  padding: 0 18px 10px;
}

.tabs{
  padding: 15px;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

.tab{
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.activeTab{
  border-bottom: 3px solid #405ACF;
}