.btnBdr {
    border: 1px solid #405ACF;
    color: #405ACF;
    padding: 7px;
    border-radius: 20px;
    margin: auto 10px;
}

.btnBg {
    background-color: #405ACF;
    border: none;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

.btnSocial {
    width: 300px;
    display: flex;
    justify-content: center;
    background-color: #E8E8E8;
    border: none;
    border-radius: 20px;
    padding: 7px;
    color: white;
}

.link {
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    width: 220px;
    text-align: center; /* Centra el texto */
}

.btnSocial img {
    width: 35px;
    height: 25px;
    margin-right: 10px; /* Añade espacio entre la imagen y el texto */
}
