
.btn-bdr{
    border: 1px solid #405ACF;
    color: #405ACF;
    padding: 7px;
    border-radius: 20px;
    margin: auto 10px;
}

.btn-bg{
  background-color: #405ACF;
  border: none;
  border-radius: 20px;
  padding: 7px;
  color: white;
}