.buttonDiv button {
    height: 40px;
    width: 200px;
}

strong {
    font-size: 18px;
}

/* Acá no puedo indicar directamente span */
.span {
    font-weight: 400;
}

.mainDiv {
    display: flex;
    justify-content: center;
    height: 307px;
    width: 415px;
    border: 1px solid #8CABFB;
    border-radius: 12px;
}

.secondDiv {
    width: 90%;
    margin-top: 7%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

/* La solución de margin right no es correcta, revisar */
.lineInfo {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.strongTxt {
    font-size: 35px;
}

.nameDiv {
    display:grid;
    margin-left: 5%;
}

.profileImg {
    width: 117px;
    height: 119px;
}

.pTag {
    padding: 0;
}

.infoDiv {
    margin-top: 5%;
}