button {
    height: 40px;
    width: 200px;
}

strong {
    font-size: 18px;
}

/* Acá no puedo indicar directamente span */
.span {
    font-weight: 400;
}

.mainDiv {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 67px;
    height: 480px;
    width: 27%;
    border: 1px solid #8CABFB;
    border-radius: 12px;
    padding-top: 2%;
    padding-bottom: 1%;
}

.secondDiv {
    width: 80%;
    margin-top: 3%;
}

.infoDiv {
    margin-top: 10%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

/* La solución de margin right no es correcta, revisar */
.lineInfo {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}