.cardContainer {
    border: 1px solid #8CABFB;
    width: 740px;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 15px;
}

.img {
  width: 170px;
  height: 170px;
}

.textDiv {
    margin-left: 5%;
    width: 80%;
}