.mainDiv {
    display: flex;
    justify-content: space-around;
    margin-left: 6%;
    margin-top: 5%;
}

.leftDiv {
    width: 65%;
    margin-bottom: 1%;
}

.rightDiv {
    width: 35%;
    margin-right: 5%;
}

.questionsList {
    width: 740px;
}