.hiringFormContainer{
    display: flex;
    max-height: 80vh;
    display: flex;
}

.hiringForm{
  overflow-y: auto;
  padding: 20px; 
  box-sizing: border-box;
  padding: 30px;
  flex-grow: 1;
}

.titleForm{
  font-size: 23px;
  font-weight: 600;
  padding: 20px  0 20px;
}

.buttonNextContainer{
  display: flex;
  justify-content: center;
  margin-top: 32%;
  width: 30%;
} 

.buttonNextContainer button{
  width: 201px;
  height: 48px;
}

.rangeContainer{
  display: flex;
  align-items: center;
}

.price{
  min-width: 72px;
  border: 1px solid #8CABFB;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.range{
  width: 287px;
  height: 4px;
  -webkit-appearance: none;
  background-color: #8CABFB;
  outline: none;
  margin-left: 10px;
}

.inputHiringDate{
  min-width: 381px;
  border: 1px solid #8CABFB;
  outline: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

