.searchInput{
  width: 268px;
  height: 35px;
  padding: 10px 10px 10px 20px;
  border: 2px solid #405ACF;
  border-radius: 20px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}  

.inputSearch{
    border: none;
    outline: none;
    width: none;
}

