#inp-pass-div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    border: 1px solid #8CABFB;
    border-radius: 25px;
    padding: 10px;
    padding-left: 5%;
    color: #8CABFB;
    margin: auto;
}

#inp-pass:focus {
    outline: none;
}

input {
    width: 90%;    
}

img:hover {
    cursor: pointer;
}

#inp-text {
    width: 95%;
    border: 1px solid #8CABFB;
    border-radius: 25px;
    padding: 10px;
    padding-left: 5%;
    color: #8CABFB;
    margin: auto;
}

/* No estoy pudiendo indicar el color del placeholder sin usar id */
.inp::placeholder {
    color: #8CABFB;
}

.intl-tel-input {
    width: 95%;
    border: 1px solid #8CABFB;
    border-radius: 25px;
    padding: 10px;
    color: #8CABFB;
    margin: auto;
}

.intl-tel-input input:focus {
    outline: 0;
}

.intl-tel-input input:hover {
    background-color: transparent;
}

.intl-tel-input input::placeholder {
    color: #8CABFB;
}

#div-inp-tel  {
    width: 100%;
    display: flex;
}