nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px
}

.logoLink{
  margin-right: auto;
  padding-left: 15px;
}

.navLinks a{
  padding: 20px;
}
