.cardOPcontainer {
  border: 1px solid #8CABFB;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
}

.opTitle {
  font-size: 18px;
  font-weight: 600;
}

.countryAndPrice {
  font-size: 15px;
  color: #404040;
  padding: 0 0 10px;
}

.text {
  font-size: 14px;
  padding: 10px 0 10px;
}
