.cardOPcontainer {
  border: 1px solid #8CABFB;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 15px;
}

.opTitle {
  font-size: 18px;
  font-weight: 600;
}

.btnTitleContainer{
  display: flex;
  justify-content: space-between;
}

.btnTitleContainer h1 {
  flex-grow: 1;
  margin-right: 20px;
}

.btnTitleContainer button {
  width: 86px;
}

.countryAndPrice {
  font-size: 15px;
  color: #404040;
  padding: 0 0 10px;
}

.text {
  font-size: 14px;
  padding: 10px 0 10px;
}

.status{
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.aceptada{
  color: #405ACF;
}

.enCurso{
  color: #8CABFB;
}

.rechazada{
  color: #CF4940;
}