.carouselSlide {
  transition: opacity 0.5s ease-in-out;
}

.carouselDots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #8CABFB;
  margin: 0 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background-color: white;
}